- name: resgister runner
  ansible.builtin.shell: >
    docker exec --tty gitlab-runner gitlab-runner register
    --non-interactive
    --url={{ gitlab_url }}
    --token={{ runner_token }}
    --executor=docker
    --docker-image=docker:dind