- name: Setup for ansible
  hosts: "{{ HOSTS_GROUP }}"
  become: true
  vars:
    - password: 
    - keys_path: 

  tasks:
    - name: Create user
      ansible.builtin.user:
        name: ansible
        shell: /bin/bash
        append: true
        groups: "{{ 'sudo' if ansible_os_family == 'Debian' else 'wheel' }}"
        password: "{{ password }}"
        update_password: on_create

    - name: create .ssh folder
      ansible.builtin.file:
        path: "/home/ansible/.ssh/"
        state: directory
        owner: ansible

    - name: upload ssh keys
      ansible.builtin.copy:
        src: "{{ keys_path }}"
        dest: "/home/ansible/.ssh/authorized_keys"
        owner: ansible

    - name: Block ssh by password
      ansible.builtin.blockinfile:
        path: /etc/ssh/sshd_config
        insertafter: EOF
        state: present
        block: |
          Match User ansible
          PasswordAuthentication no

    - name: Restart ssh service
      ansible.builtin.service:
        name: "{{ 'ssh' if ansible_os_family == 'Debian' else sshd }}"
        state: restarted